body{
    background-color: sandybrown;
    display:flow-root;
}
h1{
    color: blue;
    padding-left: 25%;
}
main{
    padding-right: 5%;
}
main p{
    margin-right: 10%;
}

#logoMDHL{
    width: 200px;
    background-color: black;
}
aside img{
    width: 300px;
    flex-direction: column;
}
nav, section, p{
    padding-left: 25%;
}
p{
    align-content: center;
}
.banner{
    height: auto;
    width: 200%;
    padding-bottom: 0.5%;
    background-color: red;
    }
.hockey{
    height: auto;
    width: 200%;
    top: 100%;
}