body{
    background-color: sandybrown;
    display:flow-root;
}




h1{
    color: blue;
    padding-left: 25%;
}

#logoMDHL{
    width: 200px;
    background-color: black;

}


aside img{
    width: 300px;
    flex-direction: column;
}

nav, section, p{
    padding-left: 25%;
}

p{
    align-content: center;
}

.black{
    height: auto;
    width: 200%;
    padding-bottom: 0.5%;
    background-color: black;
    }

.hockey{
    height: auto;
    width: 200%;
    top: 100%;
}