* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: sandybrown;
    display:inline;
}
h1{
    color: blue;
    padding-left: 25%;
}
main{
    display: inline;
}

#logoMDHL{
    width: 200px;
}

img{
    width: 300px;
    display: inline;
}
nav, section, p{
    padding-left: 35%;
}
p{
    align-content: center;
}
.banner{
    height: auto;
    width: 200%;
    padding-bottom: 0.5%;
    background-color: black;
    }
.hockey{
    width: 200%;
    display: inline;
}