 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    background-color: sandybrown;
}

nav{
    display:inline;
    position: relative;
    top: 200px;
}


<<<<<<< HEAD
 section h2 {
     background-color: black;
     color: white;
     padding-left: 1000px;
     padding-right: 1000px;
     padding-top: 20px;
     text-align: center;
 }

 section article {
     position: relative;
     left: 300px;
     top: 5px;
 }

 section article h3 {
     padding-top: 20px;
 }

 footer{
    display: inline;
    position: relative;
    top: 450px;
    left: 500px;
 }

 #email{
=======
section h2{
    background-color: black;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
>>>>>>> parent of 6f0db39 (Actualizacion de CSS)
    padding-top: 20px;
    text-align: center;
}

section article{
    position: relative;
    left: 300px;
    top: 200px;
}



#banner {
    background-image: url(../Assets/hockey_1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height:  300px;
    width: 100%;

}

<<<<<<< HEAD
 #logoMDHL {
     background-color: black;
     width: 150px;
     position: relative;
     left: 1000px;
     top: 150px;
 }
=======
#logoMDHL{
    width: 150px;
    position:relative;
    left: 1300px;
    top: 170px;
}
>>>>>>> parent of 6f0db39 (Actualizacion de CSS)
