* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    background-image: url(https://media.tenor.com/4_S-GDzuCosAAAAC/mighty-ducks.gif);
    background-position: center 25%;
    background-size: cover;

}

h1 {
    margin: 20px;
    padding: 20px;
    font-size: 46px;
    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;

}

nav a {
    display: inline-block;
    font-size: 20px;
    color: white;
    border: 3px solid black;
}

section article {
    background-color: rgba(8, 8, 8, 0.808);
    font-weight: bold;
    border: 2px solid rgb(19, 17, 17);
}


section h2 {
    background-color: rgba(5, 5, 5, 0.959);
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    padding: 20px;
    font-size: 28px;
    text-align: center;
    border: 2px solid rgb(19, 17, 17);
}

.red{
    text-shadow: -3px -3px 2px #eb0b0b, 2px 2px 1px #eb0b0b, -2px 2px 1px #eb0b0b, 2px -2px 1px #eb0b0b;
}


section article h3,
p {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    font-weight: bold;
}


.addinfo {
    position: relative;
    top: 300px;

}

#email {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    text-align: center;
}


.letterMDHL{
    text-align: center;
    color: #FCDB00;
    font-family: impact;
    letter-spacing: 10px;
    text-shadow: -3px -3px 2px #eb0b0b, 2px 2px 1px #eb0b0b, -2px 2px 1px #eb0b0b, 2px -2px 1px #eb0b0b;
    
}


#banner {
    background-image: url(../Assets/hockey_1.jpg);
    color: black;
    font-size: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    position: relative;
    border: 3px solid black;

}


#logoMDHL {
    background-color: black;
    width: 150px;
}