* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Esta clase se creo porque necesitaba saber que pasaba con el cuestionario si quitaba el fondo por defecto del body, al final termino quedando como una clase oficial*/
.fondo {
    background-color: white;
    background-image: url(https://media.tenor.com/4_S-GDzuCosAAAAC/mighty-ducks.gif);
    background-position: center 25%;
    background-size: cover;
}

/* Seccion que controla los distintos tamaños de los elementos del titulo, los nav y los botones A*/
h1 {
    margin: 20px;
    padding: 20px;
    font-size: 46px;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;

}

nav a {
    display: inline-block;
    font-size: 20px;
    color: white;
    border: 3px solid black;
}
/* clase que invente para poder cambiar de color las etiquetas <a> que aparecian en color negro, como por ejemplo la etiqueta del formulario*/
.link {
    display: inline-block;
    font-size: 20px;
    color: white;
    border: 3px solid black;
}

/* clase que Hace que todos los elementos <a> cambien de su color original al amarillo*/
a:hover,
a:focus {
    color: yellow;
}


section article {
    background-color: rgba(8, 8, 8, 0.808);
    font-weight: bold;
    border: 2px solid rgb(19, 17, 17);
}

.center{
    display: flex;
    justify-content: center;
}


section h2 {
    background-color: rgba(5, 5, 5, 0.959);
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    padding: 20px;
    font-size: 28px;
    text-align: center;
    border: 2px solid rgb(19, 17, 17);
}

.red {
    text-shadow: -3px -3px 2px #eb0b0b, 2px 2px 1px #eb0b0b, -2px 2px 1px #eb0b0b, 2px -2px 1px #eb0b0b;
}


section article h3,
p {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    font-weight: bold;
}


.addinfo {
    background-color: rgba(8, 8, 8, 0.322);
    font-weight: bold;
    border: 2px solid rgb(19, 17, 17);
}

#email {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    text-align: center;
}

/* Seccion que crea la letra amarilla de MDHL Hay dos versiones, una que es para las letras de titulos, y la otra que es para los subtitulos un poco mas pequeña*/


.letterMDHL {
    text-align: center;
    color: #FCDB00;
    font-family: impact;
    letter-spacing: 10px;
    text-shadow: -3px -3px 2px #eb0b0b, 2px 2px 1px #eb0b0b, -2px 2px 1px #eb0b0b, 2px -2px 1px #eb0b0b;

}

.letterMDHL2 {
    text-align: center;
    color: #FCDB00;
    font-family: impact;
    letter-spacing: 2px;
    text-shadow: -3px -3px 2px #eb0b0b, 2px 2px 1px #eb0b0b, -2px 2px 1px #eb0b0b, 2px -2px 1px #eb0b0b;

}
/* Selectores varios, controlan el logo y elementos del header en el caso del banner */

#banner {
    background-image: url(../Assets/hockey_1.jpg);
    color: black;
    font-size: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    position: relative;
    border: 3px solid black;

}


#logoMDHL {
    background-color: black;
    width: 150px;
}

/* Seccion encargada de que la pagina sea responsive, por el momento solo achica las letras y hace que dependiendo de la pantalla los elementos se acomoden uno debajo del otro (no afectan de manera adecuada a los <a> y al logo.. tengo que descubrir porque)*/

@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
        flex-direction: column;
    }

}

@media only screen and (min-width: 601px) {
    body {
        font-size: 20px;
    }

}

.order_column {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
}

/* Esta seccion controla las distintas caracteristicas del formulario, crea un formulario negro con borde amarillo*/


form {
    width: 500px;
    padding: 20px;
    background-color: black;
    border: 3px solid yellow;
    border-radius: 0;
}

form h3,
p {
    color: white;
    padding: 10px;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid yellow;
    box-sizing: border-box;
    color: black;
}


input[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 24px;
    background-color: red;
    color: black;
    font-family: Impact;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: red;
    color: #FCDB00;
}

/* Esta seccion dibuja la tabla transparente con bordes amarillos*/

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 2px solid yellow;
    padding: 8px;
    text-align: left;
    color: white;
}

/* Esta seccion se controla la aparicion/desaparicion del mapa*/

td iframe {
    display: none;
}

td:hover iframe {
    display: initial;
}

th {
    background-color: black;
}

ol , ul, li{
    color: white;
}